[defaults]
inventory = ./hosts.ini
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
# Crucial: Give the local connection engine a massive window to handle your password delay
timeout = 300
force_handlers = True

[privilege_escalation]
become = True
become_ask_pass = True
# Strip out ALL hacks. No -S, no extra arguments. Standard sudo execution.
become_flags = -H -S

