[defaults]
inventory = ./hosts.ini
#########TESTING#################
#stdout_callback = default
#for testing output display
stdout_callback = yaml
bin_ansible_callbacks = True
#############################

result_format = yaml
interpreter_python = auto_silent
timeout = 300
force_handlers = True

[privilege_escalation]
become = True
become_ask_pass = False
become_method = sudo
become_flags = -H -S

[ssh_connection]
use_tty = True

